@font-face {
    font-family: "Dancing-Script";
    src: url("../asset/font/Dancing_Script/DancingScript-VariableFont_wght.ttf"),
    /* src: url("https://yoursite.com/css/fonts/CustomFont.woff") format("woff"), */
    url("../asset/font/Dancing_Script/DancingScript-VariableFont_wght.ttf") format("opentype");
    /* url("https://yoursite.com/css/fonts/CustomFont.svg#filename") format("svg"); */
    }

@font-face {
    font-family: "Crimson Pro";
    src: url(../asset/font/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Crimson Pro";
    src: url(../asset/font/Crimson_Pro/CrimsonPro-Italic-VariableFont_wght.ttf);
    font-style: italic;
}