.nama {
  font-family: "Dancing-Script", cursive;
  font-size: 60px;
  color: #835C23;
  margin: 0;
}


div.kata-kata {
  position: relative;
  z-index: 102;
  /* margin-top: 100px; */
  text-align: center;
  width: 100%;
  color: #835C23;
  top: 15%;
}

.tamu {
  font-family: "Dancing-Script", cursive;
  font-size: 36px;
}

.undang {
  font-size: 20px;
  margin: 0;
}

.background-1 {
  background-image: url("../asset/sampul/background.png");
  position: absolute;
  top: 0;
  right: 0;
  width: 50vw;
  height: 100vh;
  /* transform: rotate(180deg); */
  background-size: 100%;

  background-repeat: no-repeat;
  /* max-width: 1024px; */

}

.background-2 {
  background-image: url("../asset/sampul/background-.png");
  /* background-color: #835C23; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  background-size: 100%;
  background-position-x: right;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

.backgroud-kanan {
  position: absolute;
  /* z-index: 101; */
  top: 0;
  /* right: 0; */
  background-color: brown;
  /* background-image: url("../asset/sampul/rangkaian_bunga.png"); */
  background-size: contain;
  background-position-x: 20%;
  background-position-y: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  transform: rotate(180deg);
}

.klikdisini {
  color: #835c23;
  margin-left: auto;
  margin-right: auto;
  font-size: 13px;
  text-align: center;
}