.prokes {
    width: 100%;
    background-color: #F2EEE3;
}

.teksjudul-prokes {
    color: #E3B063;
    font-family: 'Dancing-Script', cursive;
    font-size: 26px;
}

.teks-prokes {
    color: #907B57;
    font-family: 'Crimson Pro', cursive;
    font-size: 12px;
}

.kotak-prokes {
    width: 302px;
    height: 900px;
    padding: 20px;
    background: white;
    margin: 0;
    box-shadow: 4px 4px #B2B2B2;
    border-radius: 25px;
}

.tengah-prokes {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.teksalign-prokes {
    text-align: center;
}