.pengantin {
    color: #E3B063;
    font-family: 'Dancing-Script', cursive;
    font-size: 48px;
}

.home {
    width: 100%;
}

.ucapan {
    text-align: center;
}

.biasa {
    font-family: 'Times New Roman', Times, serif;
    color: #835C23;
}