.whishes {
    width: 100%;
    background-color: #F2EEE3;
}

.teksjudul {
    color: #E3B063;
    font-family: 'Dancing-Script', cursive;
    font-size: 28px;
}

.teks-wishes {
    color: #835C23;
    font-family: 'Crimson Pro', cursive;
    font-style: italic;
    font-size: 16px;
    margin-left: 10%;
    margin-right: 10%;
}

.teks {
    color: #835C23;
    font-family: 'Crimson Pro', cursive;
    font-size: 16px;
}

.teksalign {
    text-align: center;
}

.kotak {
    width: 257px;
    height: 297px;
    padding: 20px;
    background-color: white;
    margin: 0;
    box-shadow: 4px 4px #B2B2B2;
}

.tengah {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}